body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-image: url('https://assets-global.website-files.com/5e39e095596498a8b9624af1/5f6e93d250a6d04f4eae9f02_Backgrounds-WFU-thumbnail-(size).jpg');
}

/* .background {
  background-image: url('https://assets-global.website-files.com/5e39e095596498a8b9624af1/5f6e93d250a6d04f4eae9f02_Backgrounds-WFU-thumbnail-(size).jpg');
} */

h1 {
  font-size: 3.5rem;
  letter-spacing: 10px;
  margin-bottom: 1px;
}

h4 {
  font-size: 1.75rem;
  margin-bottom: 9px;
}

h6 {
  font-size: 1.25rem;
  margin-bottom: 9px;
}

header {
  padding: 2px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}



nav {
  border-style:double;
  font-size: 1.25rem;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
  border-radius: 5px;
  text-align: center; 

}

nav a {
  color: #00519e;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  
}

nav p {
  color: black;
  text-decoration: none;
  text-align: start;
}

/* pseudo that adds a hover element */
nav a:hover {
  background-color: violet;
  background-size:contain;
  cursor: pointer;
  
}

/* trying to add linkedin box next to the about me section and add a link to the image */
.about {
  font-size: 1.5rem;
  border-style: solid;
  text-align: start;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
  border-radius: 5px;
  padding: 10px;
  flex: 0 0 300px;
  margin: 1px;
  
}

.about a {
  font-size: 1.5rem;
  border-style: solid;
  text-align: start;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
  border-radius: 5px;
  padding: 10px;
  flex: 0 0 300px;
  margin: 20px;
  
}

.about img {
  border-style: solid;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

img {
  display: flex;
  float:left;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
  align-items: flex-start;
}

.first-repo {
  display: none;

}

.field {
  flex: 1;
  background-color: rgb(173, 137, 251);
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* added a transition pseudo element but took it off because it eas annoying */
.skills {
  border-style: solid;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
  border-radius: 5px;
  padding: 30px;
  flex: 0 0 300px;
  transform: scale(1.2);
  margin: 50px;
}

.skills > header {
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
  font-family:'Times New Roman', Times, serif
}

.skills > p {
  text-align: center;
}

.skills img {
  width: 100%;
}
.skills > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
.wrapper img {
  width: 100%;
}
}
